<%= @message %>
<form action = "/signin" method = "Get">
  <input type = "textbox" class = "username" name = "username" placeholder = "Please enter your username"/>
  <input type = "password" class = "password" name = "password" placeholder = "Password, please"/>
  <input type = "submit" value = "Sign In"/>
</form>
<form action = "/signup" method = "Post">
  <input type = "textbox" class = "username" name = "username" placeholder = "Choose a Username"/>
  <input type = "password" class = "password" name = "password" placeholder = "Choose a Password"/>
  <input type = "submit" value = "Sign Up"/>
</form>
